#application-header {
    .nav-bar {
        height: 5rem;

        .nav-title {
            font-size: 2.5rem;
            margin-left: 3rem;
            font-family: monospace;

            img {
                width: 45px;
                height: 45px;
                margin-right: 1rem;
                transform: rotate(336deg);
            }
        }
    }
}